<section class="together">
    <div class="container">
        <h2 class="together-title">let’s <span class="together-part">work together</span></h2>
        <div class="contacts">
        <h3 class="contacts-title">Contact me to transform your ideas into exceptional solutions.</h3>
<ul class="contacts-list">
    <li class="contacts-item"><a href="">+38 090 456 78 90</a></li>
    <li class="contacts-item"><a href="">lloydjefferson@gmail.com</a></li>
    <li class="contacts-item"><a href="">USA, New York</a></li>
</ul>
        </div>
        <form>
            <div class="form-wrapper">
                <div class="form-user-icon-wrap">
                    <input class="form-user-input" type="email" title="Denis" id="form-email" name="form-email" required placeholder="Your email*"
                        pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+">
                    <svg class="form-user-icon" width="18" height="24">
                        <use href="./images/icons.svg#user-email"></use>
                    </svg>
                </div>
            
                
                <textarea class="form-comment" name="user-comment" id="user-comment" placeholder="Text input"></textarea>
            </div>
            <button class="form-btn" type="submit">Send</button>
        </form>
    </div>

</section>